@import './base/mixins';
@import './base/vars';
@import './base/fonts';




body {
    font-size: 16px;
    color: #FFFFFF;
    background: #000000;
    font-family: 'Muli', 'Poppins', sans-serif;
    
}

.btn {
    &:focus {
        box-shadow: none
    }
}

.btn-primary {
    background: none !important;
    border: none !important;

    &:active {
        border: none !important;
        outline: none;
    }
}

.container {
    max-width: 1330px !important;
}

.container-fluid {
    padding-left: 0 !important;
}

ul,li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff ;
    &:hover {
        text-decoration: none;
    }
}

main {
    padding: 0 !important;
}

aside {
    // position: fixed !important;
    // max-width: 100%;
    height: 102vh;
    // z-index: 3;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
}

@media screen and (max-width: 992px) {
    aside {
        display: none;
    }
}

.bg-light {
    background: none;
}

.btn-gradient {
    background: linear-gradient(90deg, #FA446E 4%, #FABE44 100%);
    border-radius: 30px;
}

.btn-gradient {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

a.active {
    color: white;
    border-bottom: 3px solid #DD4242;
}

.bg-light {
    background: none;
}


.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  width: 250px;
}

.sidebar .nav-item {
  width: 100%;
}







// ::selection {
//     background-color:#52C600;
// }

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/work';
@import 'blocks/footer';
@import 'blocks/about';
@import 'blocks/consultation';
@import 'blocks/services';
@import 'blocks/footer';
@import 'blocks/sidebar';
















