.experience {
    background: url('../images/bg-techno.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.tehno-block {
    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 53px;
    }

    p {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
}

.front,
.backend {
    h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        color: rgba(190, 118, 215, 0.3);
    }
}

