.experience {
    background: url('../images/tech-bg.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.tehno-block {
    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 53px;
    }

    p {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
}