.header {
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  width: 80%;

  .logo {
    &-img {
      // max-width: 55%;
    }

    &.active {
      display: none;
    }
  }
}

.nav {
  &-menu {
    &.active {
      opacity: 0;
    }
  }

  

  &__link {
    font-family: Muli;
    font-weight: normal;
    font-size: 16px;
    color: #FAA94C;
    transition: all .33s;
    z-index: 999;

    
    

    &:hover {
      color: white;
    }
  }
}

.contact-block {
  &__tel {
    transition: all .33s;

    &:hover {
      color: #FABE44;
    }
  }

  &__brif {
    display: inline-block;
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    transition: all .33s;
    // background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    background-image: linear-gradient(to right, #FA446E 4%, #FABE44 100%);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    border: none;
    border-radius: 40px;

    &:hover {
      color: white;
    }
  }

  
}

.contact-block-sm {
  img {
    display: inline-block;
    border-right: 0.5px solid rgba(255, 255, 255, 0.44);;
  }
}

.hamburger-sm {
  position: fixed;
  top: 2%;
  right: 15px;
  z-index: 999;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transition: all .33s;
    position: relative;
    display: block;
    background-color: #fff;
    width: 32px;
    height: 2px;

    &:after, &:before {
      content: '';
      transition: all .33s;
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #fff;
      left: 4px;
    }
      
    &:after {
      top: -6px;
    }
    &:before {
      bottom: -6px;
    }
  }
    
   

    
  &.active {
    span {
      background-color: transparent;
      &:after, &:before {
        top: 0;
        bottom: 0;
      }
        
      &:after {
        transform: rotate(-45deg);
      }

      &:before {
        transform: rotate(45deg);
      }
    }
  }
}

.link-group-sm {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 98;
    transition: all .33s;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url("../images/menu-bg-sm.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  &.active {
    right: 0;
  }

  a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
  }
}

.lang {
  a {
    border-bottom: 2px solid white;
    transition: all .33s;
    font-size: 20px;

    &:hover {
      color: orangered
    }
  }
}

.menu-mobile {
  // background: url("../images/bg-fixed.png");
  // background-repeat: no-repeat;
  // position: fixed;
}

@media screen and (max-width: 1199px) {
  .header {
    left: 15% !important
  }

  .header-wrapper {
    flex-direction: column;
  }

  .logo {
    display: inline-block;
    // margin-bottom: 30px;
  }

  .nav {
    // margin-bottom: 30px;
  }

  .contact-block {
    margin-bottom: 30px;

    a {
      width: 100%;
    }

    button {
      font-size: 16px;
      padding: 10px 15px !important
    }
  }

  .promo-block {
    transform: translateY(-40%) !important;

    &__title {
      width: 100% !important;
      font-size: 60px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .contact-block a {
    width: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .header {
    left: 0 !important;
  }

  .logo-img {
    max-width: 100%;
  }

  .nav-menu .nav {
    display: none !important;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .hamburger-sm {
    top: 2.5%;
  }
}