#sidebar-wrapper {
  background: url('../images/Menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  z-index: 12;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 135px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar-menu {
  height: 80vh;
  padding-top: 225px;
  position: relative;
  z-index: 100;

  &__link {
    display: block;
    // transform: rotate(-90deg);
    writing-mode: tb-rl;
    // margin: 100px 0;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    transition: all .33s;
    ;

    &:hover {
      color: #FAA94C;
    }
  }

  .line {
    width: 1px;
    height: 50px;
    background-color: white;
    display: block;
    writing-mode: tb-rl;
    margin-left: 60px !important;
  }
}


.hamburger {
  position: fixed;
  top: 32px;
  left: 28px;
  z-index: 101;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transition: all .33s;
    position: relative;
    display: block;
    background-color: #fff;
    width: 32px;
    height: 2px;

    &:after,
    &:before {
      content: '';
      transition: all .33s;
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #fff;
      left: 4px;
    }

    &:after {
      top: -6px;
    }

    &:before {
      bottom: -6px;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &:after,
      &:before {
        top: 0;
        bottom: 0;
      }

      &:after {
        transform: rotate(-45deg);
      }

      &:before {
        transform: rotate(45deg);
      }
    }
  }
}



.hidden {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 98;
  transition: all .33s;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.active {
    left: 0;
  }

  &__link {
    font-size: 30px;
    margin: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    // letter-spacing: 0;
    text-align: center;
    transition: all .33s;

    &:hover, &:active {
      letter-spacing: 3px;
      color: orangered
    }
  
    &:after, &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
  
    &:hover {
      &:after {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
      }
  
      &:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
        bottom: auto;
        top: 0;
        width: 70%;
      }
    }
    
  }

  .contact-block__tel {
    font-size: 22px;
  }
}

@media screen and (max-width: $screen-lg-max) {
  .hamburger {
    left: 10px;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    max-width: 10%;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    // display: none
  }
}