.work {
	background: linear-gradient(180deg, #000000 0%, #1D1F20 13.74%, #000000 101.46%);
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-item {
	transition: all .33s;
	display: inline-block;
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
}

.nav-link {
	transition: all .33s;
	padding: 0 !important;
	&:hover {
		color: white;
		border-bottom: 3px solid red;
	}

}

.nav-toggle {
	background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0.3em 0.6em ;
    border: 3px solid transparent;
    border-radius: 20px;
    border-image: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    border-image-slice: 1;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}


.img-project {
	position: relative;
	width: 100%;
	height: 100%;
}

.info-project {
	position: absolute;
	top: 0;
	left: 15px;
	right:0;
	bottom: 0;
	height: 100%;
	max-width: 95.5%;
	opacity: 0;
	cursor: pointer;
	transition: all .44s;
	padding: 60px;

	&:hover {
		opacity: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), linear-gradient(59.53deg, rgba(250, 68, 110, 0.8) 40.22%, rgba(250, 190, 68, 0.8) 100%);
		border-radius: 20px;
		width: 100%;
		
	}

	
}